# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Local databases
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic
alembic/versions/*.pyc
